# IntelliJ
.idea/

# Html plotly visualizations
*.html

# Delf data
data/divergence_matrix/*.pickle

# EPANET produced files
*.bin
*.rpt
*.csv
temp.inp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Logging shouldn't be commited
logs/*
